/* Variables */
:root {
    --color-texto: rgb(131, 131, 131);
    --color-fondo: rgb(10, 9, 7);
    --color-fondo-menu-mobile: rgba(10, 9, 7, 0.9);
    --color-fondo-menu: rgba(10, 9, 7, 0.5);    
    --color-boton: darkcyan;
    --color-fondo-box-content: rgb(44,44,44);
    --color-border-box-content: rgb(60,60,60);
    --color-shadow-box-title: rgba(10, 9, 7, 0.5);
    --color-fondo-box-title-whoiam: rgb(110,163,206);
    --color-fondo-box-title-contacts: rgb(67, 72, 205);
    --color-fondo-box-title-workexperience: rgb(125,161,67);
    --color-fondo-box-title-aboutme: rgb(220,44,12);
    --color-fondo-box-title-contact: rgb(238,187,57); 
    --color-letra-headers: rgb(251,251,251);
    --color-text-highlighted: rgb(89,127,155); 
    --color-shadow-title: rgba(10, 9, 7, 0.5);
}

/*html {
  scroll-behavior: smooth;
}*/

body {
    color: var(--color-texto);
    background-color: var(--color-fondo);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body>header {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 20%;
    width: 50%;
}

h1, h2, h3, h4, span {
    color: var(--color-letra-headers);
}

span {
    font-weight: bolder;
}
/*************************** MENU *******************************************/

.hide {
    display: none;
}


.menu-wrapper header {
    color: var(--color-fondo);
    position: absolute;
    top: 1rem;
    left: 20%;
    width: 50%;
    z-index: 1;
}

nav a {
    display: block;
    padding: .5rem 1rem;
    transition: all 0.8s linear;
}

.menu-wrapper nav {
    color: var(--color-letra-headers);
    position: absolute;
    z-index: 2;
}

nav.menu-icon {
    font-size: 1.3rem;
    left: 2%;
    top: 0.5rem;
    font-weight: bold;
    z-index: 3;
}

nav.menu-icon a {
    border: 1.5px solid var(--color-text-highlighted);
    border-radius: 5px;
}    

nav.menu {
    font-size: 0.75rem;
    text-transform: uppercase;
    left: 2%;
    top: 3rem;
    font-weight: bolder;  
    color: var(--color-letra-headers);
    background-color: var(--color-fondo-menu-mobile);
    width: 50%;      
    z-index: 4; 
}

/*************************** MENU *******************************************/

section.home header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image: url(../assets/lineasCodigo1.jpeg);
    text-align: center;
}

section.home header h1, h1 {
    position: relative;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-letra-headers);
}    
                
section.home header h3 {
    position: relative;
    top: 50%;     
    animation: titulo 2s linear;
    animation-fill-mode: forwards;    
    color: var(--color-fondo-box-title-workexperience);
}

@keyframes titulo {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    20% {
      transform: scale(1);
      opacity: 0.2;
    }
    40% {
      transform: scale(1.5);
      opacity: 0.4;
    }
    60% {
      transform: scale(2);
      opacity: 0.6;
    }
    80% {
      transform: scale(1.5);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.myFoto {
    display: inline-block;  
}

figure.myFoto img {
    border-radius: 5px;
    width: 100px;
}

.name-category {
    display: inline-block;
    margin: 0vh 0vh 5vh 0vh;
}

.text-highlighted {
    color: var(--color-text-highlighted);
    font-size: 0.9rem;
}

.personal-data {
    display: inline-block;
    margin-bottom: 2vh;
}

.article-skills {
    padding-left: 5vw;
}

.skills {    
    width: 0vw;    
    border-radius: 20px;
    transition: width 1s ease-in-out;            
    padding: 1vh 1vh 1vh 3vh;
    font-weight: bold;
    margin-top: 1vh; 
    margin-bottom: 1vh;  
    margin: 1vh 0vh 1vh 3vh;   
    background-color: transparent;
    color: transparent;     
}

.skill-java-loading {
    width: 40vw;
    background-color: var(--color-text-highlighted);     
    color: var(--color-letra-headers);
}

.skill-sql-loading {   
    width: 40vw;
    background-color: var(--color-fondo-box-title-whoiam);
    color: var(--color-letra-headers);
}

.skill-html-loading {   
    width: 30vw;
    background-color: var(--color-fondo-box-title-workexperience);
    color: var(--color-letra-headers);
}
 
.skill-css-loading {   
    width: 20vw;
    background-color: var(--color-fondo-box-title-aboutme);
    color: var(--color-letra-headers);
}

.skill-js-loading {   
    width: 20vw;
    background-color: var(--color-fondo-box-title-contact);
    color: var(--color-letra-headers);
}     

section header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-shadow-title);
    opacity: 0.1;
}

.align-center {
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

figure iframe {
    margin-top: 5vh;  
    height: 100%;
} 

video {   
    width: 300px;
} 

/*********************************************** GRID LAYOUT SECTIONS ****************************************************/

.wrapper-layout {
    display: grid;
    grid-template-columns: auto 20fr;
    grid-template-rows: 40px auto;
    margin: 5% 5% 5% 5%;    
}
  
.wrapper-box-content {
    border-radius: 2px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--color-fondo-box-content);
    border: 1px solid var(--color-border-box-content);
    padding-bottom: 3vh;
}

.box-title {
    border-radius: 2px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    box-shadow: 0px 0px 5px 0px var(--color-shadow-title);
    z-index: 2;
    text-align: center;
    line-height: 40px;   
}

.title-whoiam {
    padding: 0vh 3vh 0 3vh;
    background-color: var(--color-fondo-box-title-whoiam);
}

.title-contacts {
    padding: 0vh 3vh 0 3vh;
    background-color: var(--color-fondo-box-title-contacts);
}

.title-workexperience {
    padding: 0vh 3vh 0 3vh;
    background-color: var(--color-fondo-box-title-workexperience);
}

.title-aboutme {
    padding: 0vh 3vh 0 3vh;
    background-color: var(--color-fondo-box-title-aboutme);
}

.title-contact {
    padding: 0vh 3vh 0 3vh;
    background-color: var(--color-fondo-box-title-contact);
}

/*********************************************** GRID LAYOUT ****************************************************/

/*********************************************** WORK EXPERIENCE ARTICLES ****************************************************/

.workexperiencie-technologies {
    padding: 2vh 2vh 2vh 2vh;
    background-color: var(--color-fondo-box-title-whoiam);
    color: var(--color-letra-headers);   
    margin: 5vh 5vh;
}

div.wrapper-box-content article {
    padding: 8vh 2vh 0vh 2vh
}

p.workexperiencie-technologies + p {
    color: var(--color-text-highlighted);
    font-weight: bold;
}

/*********************************************** WORK EXPERIENCE ARTICLES ****************************************************/

.article-aboutme {
    position: relative;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}   

/*********************************************** FORM ****************************************************/

div.wrapper-box-content article.article-form {
    padding-top: 10vh;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

article.article-form select {
    display: inline-block;
}

input[id=name], input[type=email], input[type=tel], select, textarea {
    display: block;    
    color: var(--color-texto);
    background-color: transparent;
    border: none;
    width: 35vh;    
    margin-bottom: 5vh;
    border-bottom: 0.7vh solid var(--color-texto);
    font-size: 1.2rem;
    transition: border-color .2s ease-out;       
}

.input-other-hide {
    display: none;
}

.input-other-visible {
    display: inline-block;
    color: var(--color-texto);
    background-color: transparent;
    border: none;
    width: 35vh;    
    margin-bottom: 5vh;
    border-bottom: 0.7vh solid var(--color-texto);
    font-size: 1.2rem;
    transition: border-color .2s ease-out;  
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus {
    outline: none; 
    border-color: var(--color-text-highlighted);    
}

.inputOther {
    display: inline-block;
}

textarea:focus {
    outline: none;
    border: 0.7vh solid var(--color-text-highlighted);    ;    
}

article.article-form p {
    margin: 0vh 0vh 5vh 0vh;      
}

.boton {
    background: transparent; 
    text-decoration: none;
    border: 2px solid var(--color-text-highlighted);
    border-radius: 5px;
    color: var(--color-letra-headers);
    padding: 1vh 2vh 1vh 2vh;
    font-weight: bold;    
    transition: border-color .2s ease-out background-color .3s ease-out;
}

.boton:hover {
    background-color: var(--color-text-highlighted);     
    border-color: var(--color-texto);
    cursor: pointer;
}

/*********************************************** FORM ****************************************************/

footer {
    margin: 10vh 10vh 10vh 10vh;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    padding-right: 2vh;
}

.fa-circle:before {
    content: "";
}

i.fa-linkedin, i.fa-github {
    transition: width
}

i.fa-linkedin:hover {
    background-color: var(--color-text-highlighted);
    border-radius: 30px;    
}

i.fa-github:hover {
    background-color: var(--color-fondo-box-title-workexperience);
    border-radius: 30px;
}

.listContacts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2vh;
    padding-left: 1vh;
}

@media screen and (min-width: 600px) {
    div.wrapper-box-content article.article-form {
        padding-top: 15vh;        
        font-size: 1.3rem;
        margin-bottom: 2vh;
    }   

    input[type=text], input[type=email], input[type=tel], select, textarea {
        width: 48vh;
    }

    .listContacts {
        padding-left: 2vh;
    }
}

@media screen and (min-width: 950px) {

    /**************************************** MENU ******************************************/

    .hide {
        display: initial;
    }

    nav.menu-icon {
        display: none;
    }

    .menu-wrapper {
        display: flex;
        position: fixed;
        z-index: 4;
        right: 0;
        color: var(--color-letra-headers);

    }

    nav.menu {
        position: static;
        width: auto;
        background-color: var(--color-fondo-menu);
        margin-top: 1vh;        
    }

    nav.menu li {
        display: inline-block;
        font-size: 0.8rem;
    }

    .active {
        color: var(--color-text-highlighted);
        font-size: 1.2rem;
        background-color: black;
        border: 1px solid var(--color-letra-headers);
    }

    /**************************************** MENU ******************************************/

    .wrapper-whoiam-flex {
        display: flex;
        flex-direction: row;
    }

    .article-whoiam-wrapper {
        margin-left: auto;
        margin-right: auto;      
    }

    div.wrapper-whoiam-flex div:nth-child(-n+3) {
        margin-right: 2vh;
    }

    div.wrapper-whoiam-flex div:nth-child(2) {
        min-width: 200px;
    }    

    div.wrapper-whoiam-flex div:nth-child(3) {
        min-width: 200px;
    }    

    figure.myFoto img {
        width: 160px;
    }

    .article-aboutme-wrapper {        
        display: inline-block;
        padding-right: 4vh;
    } 

    .name-category {
        position: relative;
        font-weight: bold;
        font-size: 1.3rem;
    }   
    
    .article-form {
        font-size: 1.3rem;
    }  

    video {
        width: 268px;
    }  

    div.wrapper-box-content article.article-form {
        padding-top: 20vh;        
        font-size: 2rem;
        margin-bottom: 3vh;
    }  

    input[type=text], input[type=email], input[type=tel], select, textarea {
        width: 70vh;
    }
}    